
/* Main App Div */
#app {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 20%;
}

/* Chart Containers */
#REVENUE, #IMPRESSIONS, #VISITS {
    clear: both;
    display: inline-block;
    height: 200px;
    width: 275px;
    border-bottom: 2px solid #e8ebef;
    padding-bottom: 15px;
    margin: 50px 50px 0;
    position: relative;
}

/* Bottom data */
.bottom-info {
    height: 50px;
    width: 275px;
}

.tablet-info, .smartphone-info {
    display: inline-block;
}

.tablet-info {
    float: left;
    text-align: left;
}

.smartphone-info {
    float: right;
    text-align: right;
}

.tablet-header, .smartphone-header {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}

.tablet-percent, .smartphone-percent {
    margin-right: 3px;
}

.smartphone-percent, .tablet-percent {
    font-size: 14px;
}

.smartphone-total, .tablet-total {
    font-size: 14px;
    color: #9B9B9B;
}

/* Graph Image */
.squiggle-image {
    position: absolute;
    left: 80px;
    top: 97px;
}

#IMPRESSIONS > .squiggle-image {
    position: absolute;
    left: 72px;
    top: 95px;
}

/* Inside Circle */
.description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    fill: #9B9B9B;
}

.percent-complete {
    font-size: 23px;
}

/* Responsive Sizing */
@media (max-width: 950px){
    body {
        margin: 0;
    }
    #app {
        position: relative;
        width: 275px;;
    }
    #REVENUE, #IMPRESSIONS, #VISITS {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}